<h1>Welcome to your Task Manager - Hi Sofie :)</h1>
  <div class="container">
    <div class="row">
      <% @tasks.each do |task| %>
      <h2><%= link_to task.name, task_path(task) %></h2>
      <p><%= task.description %></p>
      <%= link_to "Erase Task", task_path(task), method: :delete %>
      <% end %>
    </div>
  </div>
