<h1>Add a Task </h1>

<%= render "forms" %>
<!-- There exists a helper to code all of this :). -->
<!-- <percentage= form_for %>-->


<!-- We deleted the form which we had includedbelow, since it's already in _forms partial -->

<!--
<form action="/tasks" method="post">
  <label> Task </label>
  <input type="text" name="task[name]">
  <label> Describe Task </label>
  <input type="text" name="task[description]">
  <input type="submit">
</form>
 -->
